.row
    .col-xs-12
        .well(data-ng-hide="authProgress")
            .row
                .col-xs-12.text-center Enter your VK credentials here. This data will not be saved anywhere
            br
            form.form-horizontal(role="form",
                                 data-ng-submit="authorize($event)")
                .form-group
                    label.col-xs-offset-2.col-xs-2.control-label(for="inputEmail") Login
                    .col-xs-6
                        input#inputEmail.form-control(type="text",
                                                      placeholder="Email or Phone number",
                                                      required,
                                                      data-ng-model="login")
                .form-group
                    label.col-xs-offset-2.col-xs-2.control-label(for="inputPass") Password
                    .col-xs-6
                        input#inputPass.form-control(type="password",
                                                     placeholder="Password",
                                                     required,
                                                     data-ng-model="password")
                .form-group
                    .col-xs-offset-4.col-xs-6
                        button.btn.btn-primary(type="submit") Sign in
        div.loader(data-ng-show="authProgress") Authorization