.row
    .col-xs-12
        .well.well-lg.text-center(ng-show="player.playlist.length == 0")
            | Start listening to music from&nbsp;
            a.now-playing-link(href="#/user") your VK audios
            | &nbsp;or&nbsp;
            a.now-playing-link(href="#/search") search results
            | &nbsp;to see current playing list here
        #playlist.well.well-lg(ng-hide="player.playlist.length == 0")
            div(data-infinite-scroll="loadMore()")
                .row.track(data-ng-repeat="audio in visibleAudios",
                        data-ng-click="playAudio(audio, $index)",
                        data-ng-class="{ 'now-playing': audio.aid == player.current.aid }")
                    .col-xs-10
                        span.artist(data-ng-bind-html="trust(audio.artist)")
                        | &nbsp;-&nbsp;
                        span(data-ng-bind-html="trust(audio.title)")
                    .col-xs-2.text-right {{ formatTime(audio.duration) }}