body {
    padding-top: 70px;
    padding-bottom: 70px;
}

body, nav.navbar {
    min-width: 300px;
}

.container {
    position: relative;
}
.player-text {
    max-height: 26px;
    line-height: 26px;
    overflow: hidden;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .player-text {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .player-text {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .player-text {
        font-size: 24px;
    }
}

.navbar-btn {
    margin-left: 3px;
    margin-right: 3px;
}

.navbar-btn:focus {
    outline: 0;
}

#play-progress {
    width: 100%;
    height: 6px;
    padding: 0;
    margin: 0;
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

progress {
    background-color: #f8f8f8;
    color: #0A0;
}
progress::-moz-progress-bar {
    background-color: #0A0;
}
progress::-webkit-progress-bar {
    background-color: #f8f8f8;
}
progress::-webkit-progress-value {
    background-color: #0A0;
}


.track {
    font-size: 16px;
    line-height: 1.7;
}

.track:hover {
    background-color: #e2e2e2;
    border-radius: 3px;
    cursor: pointer;
}

.track.deleted {
    opacity:0.4;
}

.now-playing {
    background-color: #d6d6d6;
    border-radius: 3px;
}

.artist {
    font-weight: bold;
}

.animate-show {
    opacity: 1;
    transform: initial;
}

.animate-show.ng-hide-remove {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    display: block !important;
}

.animate-show.ng-hide {
    opacity: 0;
    transform: scaleX(0.1);
}

.view-animate {
    width: inherit;
    box-sizing: border-box;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    display: block !important;
    position: absolute;
}

.view-animate.ng-enter {
    opacity: 0;
    transform: scaleX(.1);
}

.view-animate.ng-leave {
    opacity: 1;
}

.view-animate.ng-enter.ng-enter-active {
    opacity: 1;
    transform: initial;
}

.view-animate.ng-leave.ng-leave-active {
    opacity: 0;
    transform: scaleX(.1);
}

.now-playing-link {
    text-decoration: underline;
    font-weight: bolder;
}

.loader {
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 100px auto;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    z-index: 0;
    text-transform: uppercase;
}

.loader:before,
.loader:after {
    opacity: 0;
    box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 5px solid #CCC;
    box-shadow: 0 0 50px #CCC, inset 0 0 50px #CCC;
}

.loader:after {
    z-index: 1;
    animation: gogoloader 2s infinite 1s;
}

.loader:before {
    z-index: 2;
    animation: gogoloader 2s infinite;
}

@keyframes gogoloader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.scroll-top {
    display: block;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    height: 100%;
    width: 36px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.2);
    padding: 61px 11px 0 11px;
    user-select: none;
}

.scroll-top:hover {
    background: #f5f5f5;
    color: #333;
    border-right: 1px solid #ccc;
    cursor: pointer;
}

#volume-container {
    background: rgba(0, 0, 0, 0);
}

#volume-container:hover,
#volume-container:active {
    background: transparent;
    box-shadow: none;
    border: 1px solid rgb(204, 204, 204);
}

#volume-control {
    -webkit-appearance: none;
    box-sizing: border-box;
    height: 14px;
    padding:0;
    margin:0;
    cursor: pointer;
    background: transparent;
    user-select: none;
    border-radius: 7px;
    border: 1px solid #ccc;
    width: 70px;
    display: inline-block;
}

#volume-control::-moz-range-track {
    background: transparent;
    border: 0;
}

#volume-control::-ms-track {
    color: transparent;
    border:none;
}

#volume-control::-ms-fill-upper,
#volume-control::-ms-fill-lower {
    background: transparent;
}


#volume-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    box-sizing: border-box;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid #272b30;
}

#volume-control::-moz-range-thumb {
    box-sizing: border-box;
    border-radius: 50%;
    background: #fff;
    width: 14px;
    height: 14px;
    border: 2px solid #272b30;
}


#volume-control::-ms-thumb {
    box-sizing: border-box;
    border-radius: 50%;
    background: #fff;
    width: 14px;
    height: 14px;
    border: 2px solid #272b30;
}

#volume-control:focus {
    outline: none;
}
