doctype html
html(data-ng-app="audioApp", lang="en")
    head
        title DX Player
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel='stylesheet', href='/css/styles.css')
    body
        include partials/navbar
        include partials/scroll-top
        .container
            .view-animate(data-ng-view="")
        include partials/player
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
        script(src="/js/scripts.js")