nav.navbar.navbar-default.navbar-fixed-top(role="navigation", data-ng-controller="NavbarController")
    .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#nav-collapse")
            span.sr-only
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="/#/user") DX Player
    #nav-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
            li(data-ng-class="{ active: $location.path() == '/user' }")
                a(href="/#/user")
                    span.glyphicon.glyphicon-user
                    | &nbsp;My music
            li(data-ng-class="{ active: $location.path().indexOf('/search') != -1 }")
                a(href="/#/search")
                    span.glyphicon.glyphicon-search
                    | &nbspSearch
            li(data-ng-class="{ active: $location.path() == '/now-playing' }")
                a(href="/#/now-playing")
                    span.glyphicon.glyphicon-headphones
                    | &nbspNow playing

        ul.nav.navbar-nav.navbar-right
            li
                a(href="https://bitbucket.org/darkxahtep/dx-player", target="_blank")
                    span.glyphicon.glyphicon-stats
                    | &nbsp;Changelog & Source&nbsp;