nav.navbar.navbar-default.navbar-fixed-bottom.animate-show(role="navigation", data-ng-controller="PlayerController", data-ng-show="player.current.url")
    progress#play-progress(value="0", data-va-progress-for="#audio")
    #player.row
        .col-xs-7.col-sm-3.col-md-3.col-lg-2
            button.btn.btn-default.navbar-btn(data-ng-click="playPrevious()",
            data-toggle="tooltip",
            data-placement="top",
            title="Play Previous")
                span.glyphicon.glyphicon-fast-backward

            button.btn.btn-default.navbar-btn(data-va-play="#audio",
                    data-toggle="tooltip",
                    data-placement="top",
                    title="Play/Pause")
                span.glyphicon.glyphicon-play

            button.btn.btn-default.navbar-btn(data-ng-click="playNext()",
            data-toggle="tooltip",
            data-placement="top",
            title="Play Next")
                span.glyphicon.glyphicon-fast-forward

        .hidden-xs.col-sm-5.col-md-6.col-lg-7
            h3.navbar-text.player-text
                span(data-ng-bind-html="trust(player.current.artist)")
                | &nbsp;&mdash;&nbsp;
                span(data-ng-bind-html="trust(player.current.title)")

        .col-xs-5.col-sm-4.col-md-3.col-lg-3
            button.btn.btn-default.navbar-btn.pull-right(data-ng-click="shuffle()",
                    data-toggle="tooltip",
                    data-placement="top",
                    title="Shuffle Playlist")
                span.glyphicon.glyphicon-random

            button.btn.btn-default.navbar-btn.pull-right(data-ng-show="player.current.lyrics_id",
                    data-ng-click="loadLyrics()",
                    data-toggle="tooltip",
                    data-placement="top",
                    title="Load Lyrics")
                span.glyphicon.glyphicon-list-alt

            div#volume-container.btn.btn-default.navbar-btn.pull-right.hidden-xs(
                    data-toggle="tooltip",
                    data-placement="top",
                    title="Volume Control")
                input#volume-control(type='range', data-va-volume="#audio")
                | &nbsp;
                span.glyphicon.glyphicon-volume-up

    audio#audio.col-xs-12(data-ng-src="{{ vkProxy(player.current.url) }}",
            data-va-ended="playNext()",
            autoplay, preload)
    #lyricsModal.modal
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-ng-click="closeLyricsModal()") &times;
                    h4.modal-title Song Lyrics
                .modal-body
                    pre {{ text }}